<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Good Thymes Virtual Grocery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
	<a th:href="@{/view}">Go Back</a>
	<h1>Employee Details</h1>
	<p th:text=" 'Employee ID: '+${employee.eId}">
	<p th:text=" 'Employee Name:' +${employee.eName}">
	<p th:text=" 'Employee Department:' +${employee.dept}">
</body>

</html>