<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Good Thymes Virtual Grocery</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h1>Employee Details</h1>
	<a href="/create">Add New Employee</a>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Department</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="emp :${employees}">
				<td th:text="${emp.eId}">Employee ID</td>
				<td th:text="${emp.eName}">Employee Name</td>
				<td th:text="${emp.dept}">Employee Department</td>
				<td>
					<a th:href="@{/edit/{id}(id=${emp.eId})}">Edit</a>
					<a th:href="@{/delete/{id}(id=${emp.eId})}">Delete</a>
					<a th:href="@{/getEmployee/{id}(id=${emp.eId})}">View</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>